@font-face {
    font-family: barlow-medium;
    src: url(/fonts/barlow/Barlow-Medium.ttf);
}

@font-face {
    font-family: barlow-bold;
    src: url(/fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
    font-family: barlow-extralight;
    src: url(/fonts/Barlow/Barlow-ExtraLight.ttf);
}

@font-face {
    font-family: barlow-light;
    src: url(/fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: nato-regular;
    src: url(/fonts/Noto/NotoSansJP-Regular.otf)
}

@font-face {
    font-family: nato-bold;
    src: url(/fonts/Noto/NotoSansJP-Bold.otf);
}

@font-face {
    font-family: nato-thin;
    src: url(/fonts/Noto/NotoSansJP-Thin.otf);
}

@font-face {
    font-family: nato-light;
    src: url(/fonts/Noto/NotoSansJP-Light.otf);
}

@font-face {
    font-family: oswald;
    src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: quatt-regular;
    src: url(/fonts/Quatt/QuattrocentoSans-Regular.ttf);
}

@font-face {
    font-family: quatt-bold;
    src: url(/fonts/Quatt/QuattrocentoSans-Bold.ttf);
}