@font-face {
    font-family: title;
    src: url(../../fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: footer;
    src: url(../../fonts/Roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: barlow;
    src: url(../../fonts/Barlow/Barlow-Black.ttf);
} 
@font-face {
    font-family: h1;
    src: url(../../fonts/static/FamiljenGrotesk-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: barlow-italic;
    src: url(../../fonts/Barlow/Barlow-BlackItalic.ttf);
}