.main-logo {
    width: 81px;
    height: 72px;
    padding-left: 100px;

}
.logo-name {
    position: absolute;
    top: 20px;
    left: 27px;
    font-family: lobster;
    font-size: 21px;
}
.nav-bar ul{
    float: right;
}
/* To change inline  */

/* decendent selector(to change inline block in nav, in ul, in li ) */
.nav-bar ul li{
    display: inline-block;
    margin-right: 40px;/*set the space 40px between menu tag*/
    margin-top: 30px;/*to get the space from top*/
}
/*Select to it has ul, li and a in navbar  */
.nav-bar ul li a{
    text-decoration: none; /*to remove underline*/
    color: rgb(20, 20, 20);
    font-weight: bold;
    text-transform: uppercase;/*change uppercase to menu(ul li a)*/
}
/*(select pseudo) to hover menu list */
.nav-bar ul li a:hover{
    color: #6d6f6f;
    letter-spacing: 4px;/*To change the letter space when the pointer onto menu. */
    transition-duration: 0.5s;/*speed to slow down the menu in 0.5 sec.*/
    border-left: 7px solid palegoldenrod;
    padding-left: 10px;
}

/* footer start */
.ft {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
footer {
    padding-top:45px;
    padding-bottom: 20px;
}
.ft div {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
    padding-bottom: 20px;
    font-family: roboto-bold;
}
/* footer end */