* {
    font-family: quatt-regular;
    /* font-family: barlow-medium; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: oswald;
}
.customnav-color {
    background-color: #2f333a;
}

.main-color {
    color: #eb3e32;
}

.mainbgColor {
    background-color: #eb3e32;
}

.logo-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
/* .fixed-top {
    margin-left: 11px;
    width: 100px
} */
.sticky-top a{
    text-decoration: none; 
    color: #fff;
}
.sticky-top a:hover {
    color: #c0c0c0;
}
.navbar-brand img {
    margin-left: 25px;
}
/* menu hover */
.collapse ul li .nav-link {
    text-transform: uppercase;
}
/* carosal img height and center */
.carousel-item {
    height: 83vh;
    object-fit: cover;
}
/* for intro img */
.description {
    border-radius: 7px;
    border: 1px solid #dddedf;
    background-color: #e4e5e6;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: 10px 10px 50px #ccc
}
.introImg {
    border-radius: 7px;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: 10px 10px 50px #ccc
}