*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100px;
    height: 70px;
    padding-left: 40px;
    padding-top: 10px;
}

.brandName{
    top: 30px;
    left: 80px;
    position: absolute;
    font-family: lobster;
    font-size: 20px;
}
/* move to right side the ul tag */
.navbar ul{
    float: right;
}
/* To change inline  */
.navBrand{
    display: inline-block;
}
/* decendent selector(to change inline block in nav, in ul, in li ) */
.navbar ul li{
    display: inline-block;
    margin-right: 40px;/*set the space 40px between menu tag*/
    margin-top: 30px;/*to get the space from top*/
}
/*Select to it has ul, li and a in navbar  */
.navbar ul li a{
    text-decoration: none; /*to remove underline*/
    color: rgb(20, 20, 20);
    font-weight: bold;
    text-transform: uppercase;/*change uppercase to menu(ul li a)*/
}
/*(select pseudo) to hover menu list */
.navbar ul li a:hover{
    color: #3c9ac1;
    letter-spacing: 4px;/*To change the letter space when the pointer onto menu. */
    transition-duration: 0.5s;/*speed to slow down the menu in 0.5 sec.*/
}
/*to set offline font to any part of project. So, any named the font family name to reuse in other. */
@font-face {
    font-family: lobster;
    src: url(../Lobster/Lobster-Regular.ttf);
}
/* ended nav */

/* start background */
/* change image size */
.img{
    width: 100%;
    height: 520px;
}

/* to set the text onto the image */
.background_text{
    position: absolute; /*the text under the image to load onto the img*/
    top: 250px;
    left: 100px;
}
/*To chage font n size to the header  */
.perfect{
    font-family: lobster;
    font-weight: unset;
    margin-bottom: 25px; /**/
}

.shop{
    color: #3c9ac1;
    padding: 10px 20px;/*w, h changing button size with padding(top bottom 10px left right 20px*/
    /* position: relative;/*take space btn with p tag*/
   /* top: 20px; */
    border: 1px solid #3c9ac1;
    margin-top: 20px;
    border-radius: 5px;
}
.shop:hover{
    color: wheat;
    background-color: #3c9ac1;
    cursor: pointer;/*change pointer icon*/
}
/* latest product */
.header{
    text-align: center;
    margin-top: 50px;
}

/* for hr line adjusting */
.divided{
    margin: auto; /* adjust the hr line to sent center */
    width: 100px;
    border:1px solid #3c9ac1;
    margin-bottom: 50px;
}
.stock{
    display: grid; /* declaraction to be grid */
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin: 0px/*top n btn zero*/ 50px/*l n r 50px*/;
    text-align: center;
}
.product_img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0/*top*/ 10px/*beside*/ 25px/*left rght*/ rgb(0,0,0, .30);/*To put box shadow */
}
/*set the color dis item price */
.red{
    color: red;
}

/* about */
/* using grid system */
.about{
    background-image: url(../images/rose.jpg);
    margin-top: 80px;
    color: rgb(252, 245, 231);
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    height: 340px;
    /* grid-gab: 30px; */
}
/* divide( code for hr line */
.divide{
    width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: rgb(255, 49, 13); */
}

.about div{
    margin: auto;
    /* margin-top:6px; */
}

/* packging */
.packaging{
    margin-top: 80px;
    margin-left: 100px;
}
.packaging img{
    width: 45%;
    float: left;
    /* margin:auto; */
    border-radius: 5px;
    margin-right: 60px;
}
.header_packaging{
    margin-top: 30px;
}

.pk_text{
    margin-right: 50px;
    text-align: justify; /* adjust both side of text paragraph*/
}

/* to stop float */
.clear{
    clear: both;
}

.service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    background-color: #e2e7e9;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
/*to select p inside div inside service */
.service div p{
    display: inline-block;
    margin-left: 20px;
    padding-left: 5px;
}
.serviceFont{
    font-size: 20px;
}
.footer{
    color: gray;
    background-color: rgb(47, 47, 47);
}
.nav{
    text-decoration: none;
    color: rgb(185, 180, 180);
    margin:0px /*top*/ 20px;/*l n r*/ /*distance between l n r, no top*/
    padding-top: 50px;
    font-weight: bold;
    display: inline-block;/*to use both inline and block at the same time*/
}
/* .a{
    padding-right: 25px;
    color: grey;
} */

/* fotter ka @letter ko space lote tar */
.footer .center p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon{
    color: gray;
    display: inline-block;
    margin:0px 10px 50px;
    
}
/* home page ended */

/* contact.html */
/* .titleLine{
    margin: 10px; /* adjust the hr line under the title */
    /* margin-left: 25px;
    width: 40px;
    border:1px solid #3c9ac1;
    margin-bottom: 10px;
} */ 
.contact{
    color: rgb(49, 49, 49);
    margin-left: 70px;
    /* margin-bottom: 50px; */
    display: inline;
}
.bg{
    background-color: rgb(241, 238, 238);
}

.map{
    
    display: inline;
    /* border-style: double dashed; */
}
.gridMap{
    display: grid;
    grid-template-columns: auto auto;
}
.name{
    width: 450px;
    height: 25px;
}
.clientContact{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 70px;
    border-radius: 5px;
    color: rgb(88, 88, 86);
}
.pContact{
    padding-bottom: 50px;
    color: rgb(88, 88, 86);
}
.phContact{
    width: 89%;
    height: 25px;
}
.divPh{
    padding-bottom: 20px;
    margin-left: 70px;
    color: rgb(88, 88, 86);
}
.cmd{
    margin-left: 70px;
    color: rgb(88, 88, 86);
}
.tArea{
    width: 89%;
    color: rgb(88, 88, 86);
}
.btn{
    
    padding-bottom: 20px;
}
.send{
    background-color: #545455;
    border: none;
    color: white;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}
.send:hover{
    color: rgb(63, 63, 62);
    background-color: #b4b4b4;
    cursor: pointer;/*change pointer icon*/
}
/* contact us ended here */

/* About us start here */
.aboutMain{
    padding-bottom: 30px;
}
.about1stp{
    width: 100%;
    padding: 0px 78px;
    /* background-color: #d8d5d5; */
    padding-bottom: 30px;
    
}
.aboutMain img{
    height: 500px;
    width: 45%;
    display: inline-block;
    margin-left: 550px;
}
.aboutPtext{
    width: 550px;
    font-size: 50px;
    /* display: inline-block; */
    font-family: lobster;
    text-decoration: none;
    position: absolute;
    color: #545455;
    padding: 150px 0;
}
.about2nddiv img{
    height: 20%;
    width: 45%;
    display: inline-block;
    margin-left: 70px;
}
.about2ndh3{
    font-family: lobster;
    color: #545455;
    display: inline-block;
    position: absolute;
    margin-left: 750px;
    padding-top: 80px;
    
}
.secondp{
    position: absolute;
    display: inline-block;
    margin-left: 750px;
    color: #545455;
    padding-top: 170px;
}
.secondp1{
    position: absolute;
    display: inline-block;
    margin-left: 750px;
    padding-top: 270px;
    color: #545455;
}
/* About us ended here */

/* 3rd div img start */
.service3rddiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    background-color: #e2e7e9;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
.service3rddiv img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    display: grid;
    /* grid-template-columns: auto auto; */
    margin-left: 70px;
    
}
.service3rddiv p{
   text-align: center;
   margin-right: 10px;
   padding-top: 10px; 
   color: #6e6e6e;
}
.h1about h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: -30px;
    font-family: lobster;
    color: #545455;
    font-weight: bold;
}
.aboutP{
    text-align: center;
    /* font-family: lobster; */
    font-size: smaller;
    font-weight: lighter;
    position: relative;
    color: #6e6e6e;
    margin-bottom: -30px;
}
/* 3rd div img end */

/* shop page start */
@font-face {
    font-family: roman;
    src: url(../Roman/GideonRoman-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../Roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: robotothin;
    src: url(../Roboto/RobotoCondensed-Light.ttf);
}
.titleShop{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 70px;
}
.titleShop h5{
    font-family: roman;
    color:#6e6e6e;

}
.titleShop p{
    font-family: roboto;
    color: #585757;
    font-size: xx-large;
    font-weight: bolder;
    font-stretch:narrower;
}

.sort{
    margin-left: 900px;
    width: 205px;
    height: 25px;
    color: #6e6e6e;
}
.grey{
    color: #6e6e6e;
}
.shopSection{
    margin-bottom: 50px;
}